.btn.facebook {
  text-decoration: none;
  color: #fff;
  background-color: #3B5998;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn.twitter {
  text-decoration: none;
  color: #fff;
  background-color: #00aced;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn.google {
  text-decoration: none;
  color: #fff;
  background-color: red;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn.github {
  text-decoration: none;
  color: #fff;
  background-color: #4f4d4d;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}