<% if(error){ %>
  <p>Lo siento! <%= error %></p>
  <p> No ha podido acceder al GitBook.</p>
  <p>¡Advertencia! Ha iniciado sesión en Github.<a href='http://github.com/' target="blank">Ir a Github.com</a></p>
  <a href="/logout">Volver</a>
<% } %>

