<% if(user){ %>
Bienvenido <%= user.displayName %>! Acceda al <a href="/inicio_gitbook">Gitbook</a>
<br>
<a href="/change/password">¿Quieres cambiar el password?</a>
<br>
<a href="/getFile">GetFile</a>

<% } %>

